@import 'styles/variables';


.navigationButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigationSidebar {
    @media (max-width: $breakpointMobile) {
        display: none;
    }

    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    align-items: flex-start;




    .active {
        color: $color;
        border-color: $color;
    }

    button {

        height: 42px;
        font-size: 14px;
        transition: color .2s ease;
        transition: border-color .2s ease;
        color: $color-darker;
        border-left: 1px solid $color-darker;

        &:hover {}
    }
}